# https://help.github.com/ignore-files/

# Runtime data
test
lib
example
service_1
service_2
lts.config.js

# Dependency directories
/node_modules

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Optional REPL history
.node_repl_history

# Output of 'npm pack'
*.tgz

# Yarn Integrity file
.yarn-integrity

# IDE
.vscode
.idea
